<hr id="tophr" />

    <figure class="text-center" id="newprod">
      <blockquote class="blockquote">
        <p style="font-size: 25px">CONTACT US</p>
        <hr id="newprodline" />
      </blockquote>
    </figure>

    <div class="container-fluid" id="form1">
      <div class="col-6" id="leftside">
        <h1>Fill the form Now!</h1>
        <form id="contact_form" name="contact_form" method="post">
          <div class="mb-5 row">
            <div class="col" style="margin-top: 15px;">
              <label>Name</label>
              <input
                type="text"
                required
                maxlength="50"
                class="form-control"
                id="first_name"
                name="first_name"
              />
            </div>
          </div>
          <div class="mb-5 row">
            <div class="col">
              <label for="email_addr">Email address</label>
              <input
                type="email"
                required
                maxlength="50"
                class="form-control"
                id="email_addr"
                name="email"
                placeholder="name@example.com"
              />
            </div>
          </div>
          <div class="mb-5">
            <label for="message">Complaint</label>
            <textarea
              class="form-control"
              id="message"
              name="message"
              rows="5"
            ></textarea>
          </div>
          <div class="btngrp">
            <button type="submit" class="btn btn-outline-primary" id="sendbtn">
              Send
            </button>
          </div>
        </form>
      </div>
      <div class="vertical-line"></div>
      <div id="para">
        <p>
          <span style="font-size: 24; font-weight: 680;">Instructions</span>
          <br>
          We're here to help! Please fill out the form below with your inquiry,
          and we'll get back to you as soon as possible. Please ensure all
          fields are filled out accurately to expedite our response. If you have
          any urgent matters or need immediate assistance, feel free to contact
          us directly via phone or email provided on our website. Thank you for
          reaching out!
        </p>
      </div>
    </div>