<hr id="tophr">

<div class="carpanel">
    <div class="col-4" id="leftcar">
      <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./media/kit.jpg" class="d-block w-100" alt="Error" />
            <div class="carousel-caption d-none d-md-block">
              <h5>Unleash the player inside you!</h5>
              <!-- <p>
                Play 
              </p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      id="carouselExampleSlidesOnly"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://wallpapercave.com/wp/wp11078771.jpg"
            class="d-block w-100 img-fluid"
            alt="Error"
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://media.istockphoto.com/id/520834490/photo/rear-view-of-cricket-ball-hitting-stumps-behind-batsman.webp?b=1&s=170667a&w=0&k=20&c=N4q42NACMWiVREaCEVvKKNcoVr-FuE9I8fi1Vvl4lG8="
            class="d-block w-100 img-fluid"
            alt="Error"
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://media.istockphoto.com/id/518022060/photo/cricket-batsman-hitting-ball-during-cricket-match-in-stadium.webp?b=1&s=170667a&w=0&k=20&c=qsbdTpZ2wcOJwcdNXPeErUzS-1QKZuunuv3GGgP6dKA="
            class="d-block w-100 img-fluid"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>

  <div class="card1">
    <div class="col-3" id="catpics">
      <img src="./media/SPORTSQVEST0146_300x.webp" class="img-fluid" alt="Error" />
      <div class="image-text">CRICKET</div>
    </div>
    <div class="col-3" id="catpics">
      <img src="./media/foot.avif" class="img-fluid" alt="Error" />
      <div class="image-text">FOOTBALL</div>
    </div>
    <div class="col-3" id="catpics">
      <img src="./media/basketball.avif" class="img-fluid" alt="Error" />
      <div class="image-text">OTHERS</div>
    </div>
  </div>

  <figure class="text-center" id="newprod">
    <blockquote class="blockquote">
      <p style="font-size: 25px">NEW ARRIVALS</p>
      <hr id="newprodline" />
    </blockquote>
  </figure>

  <div class="row" id="featured">
    <div class="col-md-3 col-sm-6">
        <div class="product-grid">
            <div class="product-image">
                <a href="#" class="image">
                    <img class="pic-1" src="./media/ollie.webp">
                    <img class="pic-2" src="./media/bbr.webp">
                </a>
                <a href="#" class="product-like-icon" data-tip="Add to Wishlist">
                    <i class="far fa-heart"></i>
                </a>
                <ul class="product-links">
                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                    <li><a href="#"><i class="fa fa-random"></i></a></li>
                </ul>
            </div>
            <div class="product-content">
                <h3 class="title">Babar Azam Pro Edition Tempesta 1.3<a href="#"></a></h3>
                <div class="price">$759.99</div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="product-grid">
            <div class="product-image">
                <a href="#" class="image">
                    <img class="pic-1" src="./media/bbr.webp">
                    <img class="pic-2" src="./media/ollie.webp">
                </a>
                <span class="product-sale-label">Sale</span>
                <a href="#" class="product-like-icon" data-tip="Add to Wishlist">
                    <i class="far fa-heart"></i>
                </a>
                <ul class="product-links">
                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                    <li><a href="#"><i class="fa fa-random"></i></a></li>
                </ul>
            </div>
            <div class="product-content">
                <h3 class="title"><a href="#">Ollie Pope Pro Edition Tempesta 1.3</a></h3>
                <div class="price"><span>$680</span> $570</div>
            </div>
        </div>
    </div>
</div>
