<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Session Data</title>
  <link rel="stylesheet" href="/css/navstyle.css" />
  <link rel="stylesheet" href="/css/footcss.css" />
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-*******" crossorigin="anonymous" />
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    .product-id-list {
      list-style-type: none;
      padding: 0;
    }
    .product-id-list li {
      background: #f8f9fa;
      margin: 5px 0;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }
  </style>
</head>
<body>
  <%- include("./partials/navbar.ejs") %>

  <figure class="text-center" id="newprod">
    <blockquote class="blockquote">
      <p style="font-size: 25px">VISITED PRODUCTS</p>
      <hr id="newprodline" />
    </blockquote>
  </figure>

  <div class="container">
    <!-- <h1>Visited Product IDs</h1> -->
    <ul class="product-id-list">
      <% if (visitedProductIds.length > 0) { %>
        <% visitedProductIds.forEach(id => { %>
          <li>Product ID: <%= id %></li>
        <% }) %>
      <% } else { %>
        <li>No products visited yet.</li>
      <% } %>
    </ul>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>
