@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: 'Poppins', sans-serif;
}

#newprod {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    background-color: rgb(46, 43, 43);
    padding-top: 10px;
    padding-bottom: 1px;
    color: whitesmoke;
  }
  
  #newprodline {
    margin: 0 auto; /* Center the hr horizontally */
    width: 5%; /* Set the width of the hr */
    border: none; /* Remove the default border */
    height: 5px; /* Set the thickness of the hr */
    background-color: rgb(0, 253, 13);
    opacity: 1;
    margin-top: 0px;
    padding-top: 0px;
  }
  
  .products {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .products .col-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  #form1{
    display: flex;
    /* text-align: center; */
    justify-content: center;
    padding: 15px 15px 15px 15px;
    background-color: rgb(49, 49, 51);
    color: aliceblue;
  }

  .vertical-line { 
    width: 2px; 
    background-color: rgb(0, 253, 13); 
 } 

 #para {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  height: 55vh; /* Set height to 100% of the viewport height */
  margin-left: 3%;
  margin-right: 3%;
}

#leftside{
  margin-left: 2%;
  margin-right: 2%;
}

#first_name, #email_addr{
  border-top: none; /* Remove top border */
  border-left: none; /* Remove left border */
  border-right: none; /* Remove right border */
  border-bottom: 2px solid rgb(0, 253, 13); /* Set bottom border color to white */
  background-color: transparent; 
  border-radius: 0px;
  color: aliceblue;
  width: 50%;
}

input[type="email"]::placeholder{
  color: rgb(174, 184, 194);
}

#message{
  border: 2px solid rgb(0, 253, 13); /* Set all borders to white */
    background-color: transparent;
    color: aliceblue;
}

#first_name:hover,
#email_addr:hover,
#message:hover {
    /* Add hover effect */
    background-color: rgba(255, 255, 255, 0.1); /* Adjust opacity or color as desired */
}

#sendbtn{
  font-weight: 600;
    border-radius: 15px;
    border-width: 2px;
    border-style: dotted;
    transition: transform 0.1s ease-in-out; 
    color: rgb(0, 253, 13);
    border-color: rgb(0, 253, 13);
}

#sendbtn:hover{
  transform: scale(1.1);
  background-color: rgb(0, 253, 13);
  color: white;
}

.btngrp{
  text-align: right;
  margin-right: 10px;
}