@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
    background-color: #2b2b2b;
  }
  
  .top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b2b2b;
    color: white;
    padding: 10px 20px;
  }
  
  .left-section {
    display: flex;
    align-items: center;
  }
  
  .right-section {
    display: flex;
    align-items: center;
  }
  
  .name {
    font-size: 1.2em;
    margin-right: 20px;
  }
  
  .search-bar {
    display: inline-block;
    background-color: #666;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
  }
  
  .search-bar input[type="text"] {
    padding: 5px;
    margin-right: 10px;
    background-color: #666;
    border: none;
  }
  
  .search-bar button {
    padding: 5px 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .signin-btn {
    padding: 8px 16px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  .create-account-btn {
    padding: 8px 16px;
    background-color: #666;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  hr {
    color: white;
    border-width: 1px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .cntrimg {
    position: relative;
  }
  
  .cntrimg img {
    margin-top: 0.5em;
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  
  .text-overlay {
    position: absolute;
    justify-content: left;
    top: 70%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white; /* Adjust spacing as needed */
  }
  
  .text-overlay h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .text-overlay p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  
  .search-bar1 {
    display: inline-block;
    background-color: #2b2b2b;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
  }
  
  .search-bar1 input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
    background: rgba(0, 0, 0, 0); /* Semi-transparent background */
    color: white;
    width: 230px;
  }
  
  .search-bar1 button {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bolder;
  }
  
  .search-container {
    display: flex;
    align-items: center;
  }
  
  #logoi {
    height: 42px;
    width: 80px;
    margin-right: 2px;
  }
  
  .gallery {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    margin-top: 1.5em;
  }
  
  .galpic {
    height: 160px;
    width: 220px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 15px;
    transition-duration: 0.3s;
  }
  
  .galpic:hover {
    transform: scale(1.1);
  }
  
  #cattext {
    color: white;
    margin-left: 13%;
    font-weight: bolder;
  }
  
  .featured {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    margin-top: 1.5em;
  }
  
  .featpic {
    height: 160px;
    width: 220px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 15px;
    transition-duration: 0.3s;
  }
  
  #carouselExampleSlidesOnly {
    /* height: 400px; Adjust this value as needed */
    margin: 10px 2% 10px 2px;
  }
  
  /* Make images responsive and fill the carousel */
  .carousel-item img {
    height: 30em;
    width: 90%;
    object-fit: cover;
    border-radius: 0px;
  }
  
  .carpanel {
    display: flex;
    background-color: #2b2b2b;
  }
  
  #leftcar {
    margin-top: 10px;
    margin-left: 2%;
  }
  
  /* .carousel-caption{
      text-align: left;
    }  */
  
  .card1 {
    /* display: flex; */
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    align-items: center;
    text-align: center;
  }
  
  .card1 img {
    transition: opacity 0.2s ease; /* Smooth transition for opacity */
  }
  
  .card1 .col-3 {
    display: inline-block;
    margin: 0 10px; /* Adjust this value to change the horizontal spacing */
    position: relative;
  }
  
  .card1 .image-text {
    position: absolute;
    bottom: 45%; /* Adjust this value to change the distance of text from bottom */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    font-size: 25px; /* Adjust this value to change the font size */
    font-weight: bold;
    text-shadow: 2px 2px 4px #2b2b2b; /* Adjust shadow values as needed */
    padding: 10px; /* Adjust padding as needed */
  }
  
  .card1 .col-3:hover img {
    opacity: 0.7; /* Reduce opacity on hover */
    cursor: pointer;
  }
  
  #newprod {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    background-color: rgb(46, 43, 43);
    padding-top: 10px;
    padding-bottom: 1px;
    color: whitesmoke;
  }
  
  #newprodline {
    margin: 0 auto; /* Center the hr horizontally */
    width: 5%; /* Set the width of the hr */
    border: none; /* Remove the default border */
    height: 5px; /* Set the thickness of the hr */
    background-color: rgb(0, 253, 13);
    opacity: 1;
    margin-top: 0px;
    padding-top: 0px;
  }
  
  .products {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .products .col-2 {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .products .col-md-3 {
    margin: 10px; /* Add margin to create space between cards */
  }
  
  .product-grid {
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
  .product-grid .product-image {
    overflow: hidden;
    position: relative;
  }
  .product-grid .product-image a.image {
    display: block;
  }
  .product-grid .product-image img {
    width: 100%;
    height: auto;
  }
  .product-grid .product-image .pic-1 {
    transition: all 0.3s ease 0s;
  }
  .product-grid .product-image:hover .pic-1 {
    transform: translateX(100%);
  }
  .product-grid .product-image .pic-2 {
    width: 100%;
    height: 100%;
    transform: translateX(-101%);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .product-grid .product-image:hover .pic-2 {
    transform: translateX(0);
  }
  .product-grid .product-sale-label {
    color: #fff;
    background: #0a805e;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 2px 8px;
    position: absolute;
    top: 15px;
    left: 15px;
  }
  .product-grid .product-like-icon {
    color: #696969;
    font-size: 22px;
    line-height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .product-grid .product-like-icon:hover {
    color: #0a805e;
  }
  .product-grid .product-like-icon:before,
  .product-grid .product-like-icon:after {
    content: attr(data-tip);
    color: #fff;
    background-color: #000;
    font-size: 12px;
    line-height: 18px;
    padding: 7px 7px 5px;
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 15px;
    transition: all 0.3s ease 0s;
  }
  .product-grid .product-like-icon:after {
    content: "";
    height: 15px;
    width: 15px;
    padding: 0;
    transform: translateX(-50%) rotate(45deg);
    right: auto;
    left: 50%;
    top: 15px;
    z-index: -1;
  }
  .product-grid .product-like-icon:hover:before,
  .product-grid .product-like-icon:hover:after {
    visibility: visible;
    top: 30px;
  }
  .product-grid .product-links {
    width: 170px;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    bottom: -50px;
    left: 50%;
    transition: all 0.3s ease 0s;
  }
  .product-grid:hover .product-links {
    bottom: 40px;
    opacity: 1;
  }
  .product-grid .product-links li {
    display: inline-block;
    margin: 0 2px;
  }
  .product-grid .product-links li a {
    color: #fff;
    background: #000;
    font-size: 16px;
    line-height: 48px;
    width: 48px;
    height: 48px;
    border-radius: 10px;
    display: block;
    transition: all 0.3s ease 0s;
  }
  .product-grid:hover .product-links li a:hover {
    background: #333;
  }
  .product-grid .product-content {
    text-align: left;
    padding: 15px 0 0;
  }
  .product-grid .title {
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 0 8px;
  }
  .product-grid .title a {
    color: #333;
    transition: all 0.3s ease 0s;
  }
  .product-grid .title a:hover {
    color: #0a805e;
  }
  .product-grid .price {
    color: #0a805e;
    font-size: 16px;
    font-weight: 500;
  }
  .product-grid .price span {
    color: #555;
    font-size: 14px;
    font-weight: 400;
    text-decoration: line-through;
    margin: 0 5px 0 0;
  }
  @media screen and (max-width: 990px) {
    .product-grid {
      margin: 0 0 30px;
    }
  }
  
  #featured{
    align-items: center;
    justify-content: center;
    background-color: rgb(221, 235, 223);
  }
  
  .announcement {
    display: inline-block;
    height: 100%;
    text-align: center;
    width: 100%;
    background: black;
    color: white;
    font-family: Arial, sans;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    vertical-align: middle;
    font-size: 0.8em;
  }
  
  .announcement a { 
    color: #ccc; 
  }
  
  .announcement a:hover {
    color: red;
  }
  
  #tophr{
    background-color: #2b2b2b;
  }

  /* nav */

  .bg-dark-custom {
    background-color: #2e2b2b !important;
  }
  
  .text-white {
    color: white !important;
  }
  
  .navbar-brand {
    margin-right: auto; /* Positions the brand on the left */
  }
  
  #navbar-items {
    margin-left: auto; /* Positions the navbar items on the right */
  }
  
  .nav-link {
    color: white !important;
    cursor: pointer; /* Changes cursor to pointer on hover */
  }
  
  .nav-link:hover {
    color: #cccccc !important; /* Optional: Add a hover effect */
  }
  
  .btn-outline-light {
    margin-left: 5px;
    color: white;
    border-color: white;
  }
  
  .btn-outline-light:hover {
    color: #2e2b2b;
    background-color: white;
    border-color: white;
  }
  
  .navbar-brand {
    cursor: pointer; /* Changes cursor to pointer on hover for brand */
  }
  
  .announcement {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  .announcement p {
    margin: 0;
    font-size: 16px;
  }
  
  .announcement a.shop-now-link {
    color: white;
    text-decoration: none;
    cursor: pointer; /* Changes cursor to pointer */
  }
  
  .announcement a.shop-now-link:hover {
    color: rgb(0, 253, 13); /* Changes color to red on hover */
  }
  
  #brand img {
    height: 40px; /* Adjust the height of the logo as needed */
    margin-right: 10px; /* Adjust the spacing between the logo and text */
  }
  
  #featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(221, 235, 223);
  }
  
  #featured .row {
    display: flex;
    justify-content: center;
    width: 100%;
    /* margin-left: 10px;
    margin-right: 10px; */
  }
  
  #featured .product-grid {
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin: 15px;
  }
  
  #featured .product-grid .product-image {
    overflow: hidden;
    position: relative;
  }
  
  #featured .product-grid .product-image a.image {
    display: block;
  }
  
  #featured .product-grid .product-image img {
    width: 100%;
    height: auto;
  }
  
  #featured .product-grid .product-image .pic-1 {
    transition: all 0.3s ease 0s;
  }
  
  #featured .product-grid .product-image:hover .pic-1 {
    transform: translateX(100%);
  }
  
  #featured .product-grid .product-image .pic-2 {
    width: 100%;
    height: 100%;
    transform: translateX(-101%);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  
  #featured .product-grid:hover .product-image .pic-2 {
    transform: translateX(0);
  }
  
  #featured .product-grid .product-like-icon {
    color: #696969;
    font-size: 22px;
    line-height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  #featured .product-grid .product-like-icon:hover {
    color: #0a805e;
  }
  
  #featured .product-grid .product-links {
    width: 170px;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    bottom: -50px;
    left: 50%;
    transition: all 0.3s ease 0s;
  }
  
  #featured .product-grid:hover .product-links {
    bottom: 40px;
    opacity: 1;
  }
  
  #featured .product-grid .product-links li {
    display: inline-block;
    margin: 0 2px;
  }
  
  #featured .product-grid .product-links li a {
    color: #fff;
    background: #000;
    font-size: 16px;
    line-height: 48px;
    width: 48px;
    height: 48px;
    border-radius: 10px;
    display: block;
    transition: all 0.3s ease 0s;
  }
  
  #featured .product-grid:hover .product-links li a:hover {
    background: #333;
  }
  
  #featured .product-grid .product-content {
    text-align: left;
    padding: 15px 0 0;
  }
  
  #featured .product-grid .title {
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 0 8px;
  }
  
  #featured .product-grid .title a {
    color: #333;
    transition: all 0.3s ease 0s;
  }
  
  #featured .product-grid .title a:hover {
    color: #0a805e;
  }
  
  #featured .product-grid .price {
    color: #0a805e;
    font-size: 16px;
    font-weight: 500;
  }
  
  #row1,row2{
    margin-left: 10px;
    margin-right: 10px;
  }